
PlacasDF/build/Debug-iphonesimulator/PlacasDF.app/Info.plist

PlacasDF/.DS_Store

PlacasDF/build/Debug-iphonesimulator/PlacasDF.app/PlacasDF.momd/VersionInfo.plist

PlacasDF/build/Debug-iphonesimulator/PlacasDF.app/PlacasDF.momd/VersionInfo.plist

PlacasDF/PlacasDF/.DS_Store
